<h3 style="color: blue;">{{titulo}}</h3>

<strong>El mejor empleado</strong>

<div *ngIf="trabajador_externo == false">
	<button (click)="cambiarExterno(true)">
		Ocultar
	</button>
	<ul>
		<li>{{emp.nombre}}</li>
		<li>{{emp.edad}}</li>
		<li>{{emp.cargo}}</li>
		<li>{{emp.contratado ? 'Contratado': 'No esta en la empresa'}}</li>
	</ul>
</div>
<br>
<div *ngIf="trabajador_externo == true">
	<button (click)="cambiarExterno(false)">
	Mostrar
	</button>	
</div>

<br>
<h4>Array Trabajadores</h4>
<ul>
	<li *ngFor="let empleado of trabajadores"> 
	Empleado
		<ul>
			<li>{{empleado.nombre}}</li>
			<li>{{empleado.edad}}</li>
			<li>{{empleado.cargo}}</li>
			<li>{{empleado.contratado ? 'Contratado': 'No esta en la empresa'}}</li>
		</ul>
	</li>
</ul>