<h3 style="color: blue;">{{titulo}}</h3>

<strong>El mejor empleado con ngIf y envento click</strong>

<div *ngIf="trabajador_externo == false">
	<button (click)="cambiarExterno(true)">
		Ocultar
	</button>
	<ul>
		<li>{{emp.nombre}}</li>
		<li>{{emp.edad}}</li>
		<li>{{emp.cargo}}</li>
		<li>{{emp.contratado ? 'Contratado': 'No esta en la empresa'}}</li>
	</ul>
</div>
<br>
<div *ngIf="trabajador_externo == true">
	<button (click)="cambiarExterno(false)">
	Mostrar
	</button>	
</div>

<hr>
<h3>Array Trabajadores con ngFor</h3>
<ul>
	<li *ngFor="let empleado of trabajadores"> 
	Empleado
		<ul>
			<li>{{empleado.nombre}}</li>
			<li>{{empleado.edad}}</li>
			<li>{{empleado.cargo}}</li>
			<li>{{empleado.contratado ? 'Contratado': 'No esta en la empresa'}}</li>
		</ul>
	</li>
</ul>

<hr>
<h3>Selector de colores con ngSwitch</h3>
<input type="text" [(ngModel)]="color_seleccionado"/>
<pre [style.border]="color_seleccionado === 'red'? '5px solid black' : '1px solid black'"
	[ngClass]="{
		'borderAzul': color_seleccionado == 'blue',
		'borderVerde': color_seleccionado == 'green'
	}">
	{{color_seleccionado}}	
</pre>
<br>
<br>
<div [ngStyle]="{
		'background':color_seleccionado,
		'width': '200px',
		'height': '200px',
		'float': 'right',
		'margin-right': '69%'
}">
</div>
<div style="clear: both"></div>


<hr>
<ul [ngSwitch]="color">

	<li *ngSwitchCase="'red'" [ngStyle]="{
		'background':color,
		'color': 'white',
		'padding': '20px'
	}">Es de color Rojo</li>
	<li *ngSwitchCase="'green'" [ngStyle]="{
		'background':color,
		'color': 'white',
		'padding': '20px'
	}">Es de color Verde</li>
	<li *ngSwitchCase="'blue'" [ngStyle]="{
		'background':color,
		'color': 'white',
		'padding': '20px'
	}">Es de color Azul</li>
	<li *ngSwitchCase="'black'" [ngStyle]="{
		'background':color,
		'color': 'white',
		'padding': '20px'
	}">Es de color Negro</li>
	
</ul>
